div.small-flipper-one{
	width:200px;	
	overflow:visible;
	background:#fff;
	color:#646464;
	padding:7px 11px;
}
div.small-flipper-one div.flipper-one {
	padding:9px 13px;
	border-bottom: 1px solid #e3e3e3;
	font-size:11px;
  border:1px solid blue;
}
div.small-flipper-one div.flipper-one div{
	padding:9px 13px;
	border-bottom: 1px solid #e3e3e3;
	font-size:11px;
}
div.small-flipper-one div.pager {
 padding-top:11px;
 text-align:center;
 background:blue;
}
div.small-flipper-one div.pager img{
 padding-left:3px;
 padding-right:3px;
 white-space:nowrap;
}