*{
 margin:0px;
 padding:0px;
}
body,html{
  background:#dbdbdb;
	font-family:Arial;	 
}
img {
 border:none;
}

a img {
  border:none;
}


/* main container for flipper two */
div.flipper-two{
 margin-left:auto;
 margin-right:auto;
 position:relative;
 top:30px;
 background:black;
 width:  699px;
 height: 306px;
 overflow:hidden;
}

/* Clips the flipper with rounded corners and a drop shadow */
div.flipper-two div.overlay{}

/* Display area for flipper two */
div.flipper-two div.content{}
div.flipper-two div.content div.item{
 position:absolute;
}

/* Thumbnail container has markup*/
div.flipper-two div.pages {
 position:absolute;
 left:544px;
 background:green;
 width:155px;
  
}
div.flipper-two div.pages div.item{
 position:absolute;
 background:yellow;
 height:102px;
}